{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="row">

    <div class="col-sm-8 p-2">
        <!-- start slider -->
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/s4.jpg' %}" class="d-block w-100 rounded rounded-3" style="max-height:400px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>EDUCATION IS THE PASSPORT TO THE FUTURES,<br/> FOR TOMORROW BELONGS TO THOSE WHO PREPARE FOR IT TODAY</h5>

      </div>
    </div>
    {% for i in sd %}
    <div class="carousel-item">
      <img src="/{{i.slider_picture}}" class="d-block w-100 rounded rounded-3 text-dark" style="max-height:400px;" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{i.headlines}}</h5>
        <p>{{i.slider_dec}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <!-- End slider -->
    </div>
    <div class="col-sm-4 p-2">
      <div class="fs-2 text-center txt-mycolor1"><b class="=txt-mycolor2">New Batches</b></div>
      <marquee direction="up" behavior="alternate" onmouseover="stop()" onmouseleave="start()" height="350px">
        {% for i in nbdata %}
        <!-- start card -->
        <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/{{i.batch_pic}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text" style="font-size:11px">
          <big>{{i.name}}</big><br/>
          <i class="fa-solid fa-calendar-days"></i>{{i.starting_date}}
        </p>
      </div>
    </div>
  </div>
</div>
        {% endfor %}
        <!-- End card -->
      </marquee>
    </div>
</div>
<!--&lt;!&ndash; start category &ndash;&gt;-->
<!--<div class="row bg-light p-4">-->
<!--  <div class="col-lg-2 col-md-4 col-sm-12">-->
<!--    <div class="card">-->
<!--      <img src="..." class="card-img-top"/>-->
<!--      <div class="card-body">-->
<!--        <p class="card-text text-center"><b>Category</b></p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash; End category &ndash;&gt;-->
<hr>
<!-- start latest news -->
<div class="row news PY-3">
  <div class="fs-2 text-center">Latest <b class="txt-mycolor1">Courses</b></div>
  <div class="col-sm-10 mx-auto">
    <div class="row">
      {% for i in nbdata %}
      <div class="col-sm-3 PY-2 my-3">

        <div class="card">
          <img src="/{{i.batch_pic}}" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-tittle">{{i.name}}</h5><br/>
            <b class="text-muted">Starting at <i class="fa-solid fa-calendar-days"></i> :</b> {{i.starting_date}}

          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- end latest news -->
{% endblock %}