{% extends 'base.html' %}
{% load static %}
{% block childpage %}
<div class="text-center fs-2 txt-mycolor">Our<b class="txt-mycolor1"> Placement</b>
    <div class="row">
        <div class="col-sm-10 mx-auto">
            <form method="get">
            <div class="row">
                <div class="col-sm-5">

                <select class="form-control" name="college">
                    <option>--select college--</option>
                    {% for i in cdata %}
                    <option value="{{i.id}}">{{i.college_name}}</option>
                    {% endfor%}
                </select>
                </div>
                <div class="col-sm-5">
                <select class="form-control" name="year">
                    <option>--select session--</option>
                    {% for x in sdata %}
                    <option value="{{x.id}}">{{x.session}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="col-sm-2">
                    <input type="submit" value="search" class="btn form-control bg-mycolor1 mb-4 text-light"/>
                </div>
            </div>
                </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm- mx-auto">
        <div class="row" style="background:#deedec;">
            {% for a in pdata %}
            <!--card-->
            <div class="col-lg-3 col-md-6 col-sm-12 py-3">
                <div class="card">
                    <img src="/{{a.student_picture}}" style="max-height:220px;" class="card-img-top"/>
                    <div class="card-body">
                        <p class="card-text">
                            <b>{{a.student_name}}</b><br/>
                            <small>{{a.batch}} || {{a.session}}(2021-22)</small><br/>
                            {{a.company_name}}
                            <img src="/{{a.company_logo}}" class="Img-thumbnail" style="height:50px"/><br/>

                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!--end card-->
        </div>
    </div>
</div>
{% endblock %}
